.venv
.python-version
/build
dist
pybmd.egg-info
test.py
.VSCodeCounter
pybmd/__pycache__
.DS_Store
pybmd/.DS_Store
pybmd/Davinci_README/.DS_Store
build_upload.py
project_builder.py
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.idea/
.venv310
test
.venv311
.pytest_cache
test.ipynb
docs/_autosummary
.vscode/settings.json
.vscode/launch.json
.env
.vscode/settings.json
CLAUDE.md
