alabaster
appdirs
attrs
autopep8
Babel
beautifulsoup4
bleach
certifi
charset-normalizer
click
colorama
dftt-timecode
doc2dash
docutils
esbonio
idna
imagesize
importlib-metadata
importlib-resources
Jinja2
keyring
MarkupSafe
multipledispatch
packaging
pkginfo
pycodestyle
pydantic
pygls
Pygments
pyparsing
pyspellchecker
python-docs-theme
pytz
readme-renderer
requests
requests-toolbelt
rfc3986
singledispatchmethod
six
snowballstemmer
soupsieve
Sphinx
sphinx-pdj-theme
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
tqdm
twine
typeguard
typing_extensions
urllib3
webencodings
zipp
zope.interface
wheel